

  table {
      text-align: center;
      width: 80%;
      margin-top: : 1%;
      margin-bottom: 1%;
  }

  .course_description th {
      background: #7382B5;
      color: white;
  }

  th {
      background: #DAE2EE;
      font-weight: bold;
      padding: .5% 1% 0.5% 1%;
      text-align: center;
      color: #15325C;
  }

  td {
      background: #f9f9f9;
      padding: 1%;
  }






  .container {
      width:100%;
      border:1px solid #d3d3d3;
  }
  .container div {
      width:100%;
  }
  .container .header {
      background-color:#d3d3d3;
      padding: 2px;
      cursor: pointer;
      font-weight: bold;
  }
  .container .content {
      display: none;
      padding : 5px;
  }
